<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход в систему ЛиВА</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
        <h2>Привет, дорогой путник, ищущий знаний в цифровой сфере! Ты  попал в Лицей имени Вадима Аганова. Тут ты сможешь получить 
            важнейшие знания по программированию, или дальше блуждать по бесконечным просторам цифровой степи.
        </h2>
        <div style="text-align: center;">
            <button>Регистрация</button>
            <button>Вход</button>
        </div>
</body>
</html>